.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: "Pacifico", cursive;
  color: white;
  margin-top: 5%;
}

.content-area {
  margin: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline-holder {
  flex: 1;
  margin: 1rem;
}

.propic {
  margin: 2rem;
  width: 25vh;
  height: 25vh;
  border-radius: 2.5rem;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.quest-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quest {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "Kalam", cursive;
  font-size: xx-large;
  text-align: justify;
  margin-bottom: 0;
}

.cont {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "Kalam", cursive;
  font-size: xx-large;
  text-align: justify;
}

/* Medium screens */
@media (max-width: 1000px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .timeline-holder {
    width: 100%;
    margin-top: 2rem;
  }

  .propic {
    width: 25%;
    height: 25%;
  }

  .quest {
    margin-left: 0;
    margin-right: 0;
    font-size: small;
    max-width: none;
  }

  .quest-area {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .cont {
    font-family: "Kalam", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    max-width: none;
    margin: 1rem;
  }
}

/* Small screens */
@media (max-width: 480px) {
  .about {
    margin-top: 20%;
  }

  .propic {
    width: 45%;
    height: 45%;
    border-radius: 1.5rem;
  }

  .quest {
    margin-left: 0;
    margin-right: 0;
    font-size: small;
    max-width: none;
    margin-bottom: 0;
  }

  .quest-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-bottom: 0;
  }

  .cont {
    font-family: "Kalam", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    max-width: none;
    margin: 1rem;
  }
}
