.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  width: 100%;
  color: white;
}

.content-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.introsec {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

.profile-pic {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hintro,
.bintro {
  font-family: "Pacifico", cursive;
  margin: 0;
  padding: 0.5rem;
}

.cont {
  margin: 1rem;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.mcont {
  margin: 10px 0;
}

.lnks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.fa-linkedin,
.fa-github,
.fa-file-pdf,
.fa-award,
.fa-orcid,
.fa-steam {
  color: white;
  margin: 1rem;
}

.fa-linkedin:hover {
  color: rgb(17, 171, 243);
}

.fa-github:hover {
  color: rgb(0, 0, 0);
}

.fa-file-pdf:hover {
  color: rgb(221, 29, 29);
}

.fa-award:hover {
  color: rgb(243, 140, 4);
}

.fa-orcid:hover {
  color: rgb(149, 219, 18);
}

.fa-steam:hover {
  color: rgb(13, 96, 221);
}
/* Medium screens */
@media (max-width: 768px) {
  .home {
    margin-top: 10vh;
  }

  .profile-pic {
    width: 12rem;
    height: 12rem;
  }
}

/* Small screens */
@media (max-width: 480px) {
  .home {
    margin-top: 3vh;
  }

  .profile-pic {
    width: 10rem;
    height: 10rem;
  }
  .cont {
    font-size: medium;
    line-height: 1rem;
  }
  .hintro {
    font-size: large;
  }
  .bintro {
    font-size: xx-large;
  }
}
