.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Pacifico", cursive;
  color: white;
  margin-top: 10rem;
  margin-bottom: auto;
}
